.wrapper {
  min-width: 1300px;
}
section {
  position: relative;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: #333;
  background: #fff;
  font-family: 'PingFangSC-Light', 'helvetica neue', 'hiragino sans gb', 'arial', 'microsoft yahei ui', 'microsoft yahei', 'simsun', 'sans-serif';
}
section h4 {
  line-height: 40px;
}
section .btn {
  display: block;
  height: 50px;
  width: 300px;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 5px;
  background: #e72c2b;
  font-size: 23px;
  color: #fff;
}
section .fls {
  float: left;
}
section .frs {
  float: right;
}
section .btnCon {
  margin: 45px auto;
  height: 50px;
  width: 645px;
}
.onePath {
  height: 634px;
  width: 100%;
  color: #fff;
  background: url('../image/abanner.jpg') no-repeat center top / 1920px 634px;
}
.onePath .logo {
  height: 127.5px;
  line-height: 175px;
}
.onePath .logo img {
  width: 343.5px;
  height: 55.5px;
}
.onePath h4 {
  margin: 0 auto;
  width: 570px;
  height: 75px;
  line-height: 75px;
  border: 1px solid;
  border-color: #948689 transparent;
  font-size: 30px;
  font-weight: 200;
}
.onePath p {
  margin: 40px auto 0;
  height: 130px;
  font-size: 58px;
  line-height: 74px;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.onePath .spacenone {
  letter-spacing: 0;
}
.onePath .oneCon {
  margin-top: 46.5px;
  width: 590px;
  height: 30px;
  text-align: left;
}
.onePath .oneCon span {
  float: left;
  height: 30px;
  width: 225px;
  line-height: 30px;
  font-size: 29px;
}
.onePath .oneCon span:first-child {
  margin-right: 85px;
}
.onePath .oneCon span i {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background: url('../image/anice.png') no-repeat center top / 30px 30px;
}
.onePath .mouse {
  position: absolute;
  top: 30px;
  left: 180px;
  display: block;
  height: 37px;
  width: 22px;
  background: url('../image/amose.png') no-repeat 0 0 / 22px 37px;
}
.onePath .oneBtn {
  position: relative;
  margin: 55px auto 0;
  height: 50px;
  width: 645px;
}
.aside .in {
  display: block;
  width: 100%;
  height: 166px;
  background: url('../image/aside.jpg') no-repeat center top / 1920px 166px;
}
.twoPath {
  position: relative;
  height: 752.5px;
  padding-top: 60px;
  color: #0d0d0d;
}
.twoPath h4 {
  margin: 0 auto;
  height: 45px;
  font-size: 45px;
  font-weight: 700;
}
.twoPath p {
  margin: 35px auto 0;
  height: 62.5px;
  width: 885px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
}
.twoPath ul {
  position: relative;
  margin: 75px auto 0;
  width: 1005px;
  height: 305px;
}
.twoPath ul .part {
  float: left;
  width: 233px;
  height: 305px;
  margin-left: 15px;
  padding-top: 22.5px;
  background: url('../image/bchat.png') no-repeat center top / 233px 110px;
  font-size: 22px;
  line-height: 29px;
  color: #fff;
}
.twoPath ul .part p {
  margin-top: 3px;
  width: 228px;
  height: 25px;
}
.twoPath ul .part .human {
  margin: 35px 0 0 90px;
  color: #333;
  width: 125px;
  height: 195px;
}
.twoPath ul .part .human img {
  width: 102px;
  height: 152px;
}
.twoPath ul .arrow {
  position: relative;
  width: 94px;
  height: 23px;
  background: url('../image/barrow.png') no-repeat center / 88px 14px;
}
.twoPath ul .iconFir {
  top: 195px;
  left: 215px;
}
.twoPath ul .iconSed {
  top: 180px;
  left: 480px;
}
.twoPath ul .iconThr {
  top: 165px;
  left: 730px;
}
.twoPath .change {
  margin: 35px auto;
  width: 342.5px;
  height: 25px;
  font-size: 24px;
  font-weight: 700;
  color: #6297fb;
}
.threePath {
  height: 822.5px;
  background: #f3f3f3;
  padding-top: 50px;
  color: #333;
}
.threePath h4 {
  margin: 0 auto;
  height: 45px;
  font-size: 45px;
  line-height: 40px;
  font-weight: 700;
}
.threePath p {
  margin: 22.5px auto;
  height: 65px;
  line-height: 30px;
  font-size: 20px;
}
.threePath article {
  margin: 22.5px auto;
  height: 518px;
}
.threePath article img {
  width: 1104px;
  height: 518px;
}
.fourPath {
  height: 910px;
  padding-top: 65px;
  color: #0b0b0b;
}
.fourPath h4 {
  margin: 0 auto;
  height: 45px;
  font-size: 45px;
  font-weight: 700;
}
.fourPath p {
  margin: 30px auto 0;
  height: 25px;
  font-size: 20px;
}
.fourPath article {
  margin: 37.5px auto 0;
  height: 519px;
}
.fourPath article img {
  width: 972px;
  height: 519px;
}
.fourPath aside {
  margin: 32.5px auto 42.5px;
  height: 27.5px;
  line-height: 27px;
  font-size: 25px;
  color: #6297fb;
}
.fourPath aside i {
  display: inline-block;
  position: relative;
  border: 9px solid;
  margin-right: 5px;
  border-color: transparent transparent #6297fb transparent;
}
.fivePath {
  position: relative;
  height: 710px;
  padding-top: 47.5px;
  color: #fff;
  background: url('../image/ebgp.jpg') no-repeat center top / 1920px 709px;
}
.fivePath h4 {
  margin: 0 auto;
  height: 50px;
  font-weight: 700;
  line-height: 50px;
  font-size: 45px;
}
.fivePath .from {
  display: inline-block;
  margin-top: 52.5px;
  width: 375px;
  height: 500px;
  padding: 27.5px 0 0 37.5px;
  border-radius: 15px;
  text-align: left;
}
.fivePath .from .temp {
  margin: 0 0 0 10px;
  height: 33px;
  line-height: 33px;
  font-size: 15px;
  padding-left: 15px;
  background: url('../image/eiconb.png') no-repeat left top / 70.5px 33px;
}
.fivePath .from dt {
  margin: 20px 0 35px 17.5px;
  height: 47.5px;
  line-height: 45px;
  font-size: 46px;
  font-weight: 400;
}
.fivePath .from dd {
  width: 290px;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 20px;
}
.fivePath .from dd span {
  margin-top: 9px;
  display: inline-block;
}
.fivePath .from dd i {
  display: block;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 25px;
  background: url('../image/anice.png') no-repeat center top / 20px 20px;
}
.fivePath .from .fromCon {
  position: relative;
  left: -37.5px;
  margin-top: 35px;
  height: 95px;
  width: 375px;
  background: #fff;
  border-radius: 0 0 15px 15px;
}
.fivePath .from .fromCon .fromBtn {
  display: block;
  height: 95px;
  width: 375px;
  line-height: 90px;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}
.fivePath .from .fromCon .icon {
  position: absolute;
  left: 270px;
  top: 35px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-weight: 700;
  font-size: 17.5px;
  border-radius: 50%;
  font-style: normal;
}
.fivePath .pink {
  background: -webkit-linear-gradient(left top, #f88935, #f45e55, #f14367);
}
.fivePath .pink .fromBtn {
  color: #f14367;
}
.fivePath .pink .icon {
  background: #f14367;
}
.fivePath .blue {
  margin-left: 195px;
  background: -webkit-linear-gradient(left top, #2dd4db, #359dfe, #6a70ff);
}
.fivePath .blue .fromBtn {
  color: #6a70ff;
}
.fivePath .blue .icon {
  background: #6a70ff;
}
.sixPath {
  height: 600px;
  padding-top: 65px;
  text-align: center;
  background: url('../image/fbgps.jpg') no-repeat center top / 1920px 601px;
}
.sixPath h4 {
  margin: 0 auto;
  height: 50px;
  color: #0b0b0b;
  font-size: 45px;
  font-weight: 700;
}
.sixPath div {
  margin: 80px auto 70px;
  width: 1075px;
  height: 225px;
}
.sixPath div dl {
  float: left;
  height: 225px;
  width: 155px;
  margin-left: 22.5px;
  padding-top: 30px;
  border-radius: 35px;
  font-size: 24px;
  color: #fff;
  background: #3292f9;
  opacity: 0.8;
  line-height: 35px;
}
.sixPath div dl dt {
  margin-bottom: 30px;
  font-weight: 700;
}
.sixPath div dl .oline {
  height: 70px;
  line-height: 70px;
}
.sixPath div dl dd {
  text-align: center;
  font-size: 20px;
}
.sevenPath {
  height: 627.5px;
  padding-top: 47.5px;
  background: #fff;
  color: #333;
}
.sevenPath h4 {
  margin: 0 auto;
  height: 52.5px;
  color: #0b0b0b;
  font-size: 45px;
  font-weight: 700;
}
.sevenPath .imgCon {
  margin: 72.5px auto 67.5px;
  height: 257.5px;
  width: 1067.5px;
}
.sevenPath .imgCon ul {
  float: left;
  width: 265px;
  height: 257.5px;
}
.sevenPath .imgCon ul li {
  float: left;
  width: 265px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.5px;
}
.sevenPath .imgCon ul img {
  margin-bottom: 45px;
  width: 68px;
  height: 68px;
}
.sevenPath .imgCon ul .listTwo img {
  margin-bottom: 52px;
  width: 96px;
  height: 61px;
}
.sevenPath .imgCon ul .listThr img {
  width: 80px;
  height: 67px;
}
.sevenPath .imgCon ul .listFour img {
  position: relative;
  top: -20px;
  width: 134px;
  height: 105px;
  margin-bottom: 6px;
}
.sevenPath .imgCon ul .blue {
  margin-bottom: 25px;
  font-size: 28px;
  line-height: 35px;
  color: #4386fb;
  font-weight: 700;
}
.eigthPath {
  height: 642.5px;
  padding-top: 52.5px;
  color: #333;
  background: url('../image/hbgp.jpg') no-repeat center top / 1920px 642.5px;
}
.eigthPath h4 {
  margin: 0 auto 32.5px;
  height: 47.5px;
  text-align: center;
  font-weight: 700;
  font-size: 45px;
}
.eigthPath h4 strong {
  color: #4386fb;
}
.eigthPath p {
  margin: 0 auto 30px;
  height: 52.5px;
  line-height: 30px;
  font-size: 20px;
  color: #033;
}
.ninePath {
  height: 690px;
  text-align: center;
  padding-top: 57.5px;
  background: #112437;
  color: #fff;
}
.ninePath h4 {
  margin: 0 auto 22.5px;
  height: 47.5px;
  font-size: 45px;
  font-weight: 400;
}
.ninePath p {
  margin: 0 auto;
  height: 22.5px;
  line-height: 22.5px;
  font-size: 20px;
  opacity: .9;
}
.ninePath p span {
  position: relative;
  top: -7.5px;
  display: inline-block;
  width: 42.5px;
  border: 1px solid #fafafa;
}
.ninePath .future {
  position: relative;
  margin: 60px auto 85px;
  height: 285px;
  width: 972.5px;
}
.ninePath .future ul {
  margin: 0 auto;
  width: 972.5px;
  height: 285px;
}
.ninePath .future ul li {
  position: relative;
  float: left;
  width: 230px;
  height: 100px;
  border-left: 1px solid #495866;
}
.ninePath .future ul li .listmid {
  margin: 0;
}
.ninePath .future ul li .list-top {
  position: relative;
  top: -8px;
  margin: 0;
}
.ninePath .future ul li p {
  width: 225px;
  margin: 10px 0;
  padding-left: 10px;
  text-align: left;
  font-size: 17px;
  opacity: none;
}
.ninePath .future ul li strong {
  font-size: 20.5px;
  font-weight: 700;
}
.ninePath .future ul li i {
  display: block;
  left: -5px;
  height: 10px;
  width: 10px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
}
.ninePath .future ul .top {
  margin-bottom: 47.5px;
  padding-bottom: 10px;
}
.ninePath .future ul .top i {
  top: -5px;
}
.ninePath .future ul .bottom {
  padding-top: 14px;
}
.ninePath .future ul .bottom i {
  bottom: -5px;
}
.ninePath .future ul .listFir {
  margin-left: 350px;
}
.ninePath .future ul .listTwo {
  position: relative;
  left: 45px;
  width: 210px;
}
.ninePath .future ul .listThr {
  position: relative;
  left: 207px;
}
.ninePath .future ul .listFour {
  position: relative;
  left: 265px;
}
.ninePath .future .line {
  position: absolute;
  top: 37%;
  left: 195px;
  display: block;
  height: 32px;
  width: 610px;
  background: url('../image/iline.png') no-repeat center top / 610px 32px;
}
.ninePath .future .ball {
  position: absolute;
  width: 130px;
  height: 130px;
  background: #fff;
  line-height: 130px;
  color: #112437;
  border-radius: 50%;
  font-weight: 700;
  font-size: 23px;
}
.ninePath .future .ball-one {
  top: 45px;
  left: 20px;
}
.ninePath .future .ball-two {
  top: 55px;
  right: -10px;
}
.tenPath {
  height: 1115px;
  padding-top: 40px;
  color: #333;
}
.tenPath h4 {
  margin: 0 auto;
  height: 45px;
  font-size: 45px;
  font-weight: 700;
}
.tenPath p {
  margin: 22.5px auto 0;
  height: 25px;
  line-height: 20px;
  font-size: 24px;
}
.tenPath ul {
  position: relative;
  left: 57.5px;
  margin: 47.5px auto 70px;
  height: 775px;
  width: 985px;
}
.tenPath ul span {
  display: inline-block;
  margin-right: 30px;
}
.tenPath ul li {
  position: relative;
  float: left;
  height: 240px;
  margin-bottom: 22.5px;
  width: 417.5px;
  background: #eff3f4;
  padding: 40px 0 0 125px;
  text-align: left;
}
.tenPath ul li h6 {
  height: 30px;
  margin-bottom: 5px;
  font-size: 26px;
  line-height: 25px;
  font-weight: 700;
  color: #434343;
}
.tenPath ul li p {
  height: auto;
  line-height: 29px;
  margin: 0;
  font-size: 23px;
  color: #434343;
}
.tenPath ul .listOne img {
  position: absolute;
  left: -80px;
  top: 15px;
  width: 165px;
  height: 205px;
}
.tenPath ul .listTwo {
  margin-left: 137.5px;
}
.tenPath ul .listTwo img {
  position: absolute;
  left: -102.5px;
  top: 15px;
  width: 205px;
  height: 205px;
}
.tenPath ul .listThr img {
  position: absolute;
  left: -102.5px;
  top: 15px;
  width: 205px;
  height: 205px;
}
.tenPath ul .listFour {
  margin-left: 137.5px;
}
.tenPath ul .listFour img {
  position: absolute;
  left: -102.5px;
  top: 15px;
  width: 205px;
  height: 205px;
}
.tenPath ul .listFive img {
  position: absolute;
  left: -107.25px;
  top: 15px;
  width: 214.5px;
  height: 205px;
}
.tenPath ul .listSix {
  margin-left: 137.5px;
}
.tenPath ul .listSix img {
  position: absolute;
  left: -97.5px;
  top: 15px;
  width: 195px;
  height: 205px;
}
.onexPath {
  height: 620px;
  background: url('../image/kbgp.jpg') no-repeat center / 1920px 1193px;
  padding-top: 50px;
  color: #fff;
  overflow: hidden;
}
.onexPath h4 {
  margin: 0 auto;
  height: 45px;
  font-size: 47px;
  font-weight: 400;
}
.onexPath p {
  margin: 25px auto 0;
  height: 45px;
  line-height: 45px;
  font-size: 47px;
}
.onexPath dl {
  margin: 55px auto 40px;
  width: 375px;
  height: 235px;
  text-align: left;
}
.onexPath dl dt {
  margin: 0 0 22.5px 42.5px;
  height: 37.5px;
  width: 155px;
  font-size: 32px;
  line-height: 37.5px;
  font-weight: 400;
}
.onexPath dl dd {
  margin-bottom: 17.5px;
  font-size: 28px;
  line-height: 27.5px;
}
.onexPath dl .icon {
  display: inline-block;
  position: relative;
  width: 36.5px;
  height: 26.5px;
  top: 4px;
  background: url('../image/knicd.png') no-repeat center top / 36.5px 26.5px;
}
.twoxPath {
  height: 645px;
  padding-top: 57.5px;
  color: #333;
}
.twoxPath h4 {
  margin: 0 auto;
  height: 45px;
  font-size: 45px;
  font-weight: 700;
}
.twoxPath p {
  margin: 25px auto;
  height: 22.5px;
  line-height: 22.5px;
  font-size: 22px;
}
.twoxPath p span {
  position: relative;
  top: -10px;
  display: inline-block;
  width: 42.5px;
  border: 1px solid #033;
}
.twoxPath ul {
  position: relative;
  margin: 42.5px auto 22.5px;
  width: 928px ;
  height: 330px;
}
.twoxPath ul li {
  margin-right: 70px;
  float: left;
  width: 262.5px;
  height: 330px;
  line-height: 30px;
  font-size: 21px;
}
.twoxPath ul li:last-child {
  margin: 0;
}
.twoxPath ul li img {
  width: 138.5px;
  height: 138.5px;
}
.twoxPath ul li strong {
  margin: 20px auto;
  display: block;
}
.threexPath {
  height: 620px;
  padding: 62.5px;
  background: #112437;
  color: #fff;
}
.threexPath div {
  margin: 0 auto;
  height: 240px;
  width: 1200px;
  text-align: left;
  font-weight: 700;
}
.threexPath div img {
  width: 342px;
  height: 242px;
}
.threexPath div p {
  position: relative;
  top: -80px;
  display: inline-block;
  height: 100px;
  width: 575px;
  border-left: 5px solid #777c82;
  padding-left: 10px;
  font-size: 40px;
}
.threexPath ul {
  margin: 0 auto;
  height: 240px;
  width: 1157.5px;
  font-size: 20px;
}
.threexPath ul li {
  position: relative;
  float: left;
  width: 212.5px;
  height: 240px;
  margin-left: 10px;
}
.threexPath ul li article {
  position: relative;
  margin: 5px 0;
  height: 157.5px;
  width: 217.5px;
  line-height: 35px;
  padding-top: 45px;
  text-align: center;
}
.threexPath ul li article .arrow {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 157.5px;
  border: 10px solid;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  border-color: transparent transparent #6297fb transparent;
}
.threexPath ul li .oline {
  margin-bottom: 0;
  line-height: 70px;
}
.threexPath ul li .unblue {
  background: #26537e;
}
.threexPath ul li .unblue .arrow {
  border-color: transparent transparent #26537e transparent;
}
.threexPath ul li .blue {
  background: #077fff;
}
.threexPath ul li .blue .arrow {
  border-color: transparent transparent #077fff transparent;
}
.threexPath ul li i {
  position: absolute;
  bottom: 20px;
  left: 40px;
  width: 20px;
  height: 20px;
  background: #fff;
  text-align: center;
  line-height: 20px;
  font-weight: 700;
  font-size: 12.5px;
  border-radius: 50%;
  color: #e72c2b;
  font-style: normal;
}
.threexPath ul li a {
  display: block;
  width: 165px;
  height: 50px;
  box-sizing: border-box;
  margin: 20px auto;
  padding-left: 52.5px;
  line-height: 52.5px;
  border-radius: 20px;
  text-align: left;
  font-size: 17px;
  color: #fff;
  background: #e72c2b;
}
.fourxPath {
  height: 520px;
  padding-top: 122.5px;
  background: url('../image/nbgp.jpg') no-repeat center top / 1920px 522.5px;
}
.fourxPath aside {
  position: relative;
  height: 215px;
  width: 402.5px;
  left: 65%;
  font-size: 21.5px;
  text-align: left;
  color: #fff;
}
.fourxPath aside li {
  height: 27.5px;
  width: 395px;
  margin-bottom: 17.5px;
}
.fourxPath img {
  display: block;
  width: 343.5px;
  height: 55.5px;
  margin-bottom: 42.5px;
}
.fourxPath footer {
  position: relative;
  top: 95px;
  margin: 0 auto;
  height: 80px;
  line-height: 40px;
  font-size: 20px;
  color: #757575;
}
